In [75]:
import pandas as pd
import numpy as np

golf_2022 = pd.read_csv("2022_golf.csv",names=['sex','age', 'golf_out','golf_in'])
golf_2021 = pd.read_csv("2021_golf.csv",names=['sex','age' ,'golf_out','golf_in'])

In [97]:
golf_2021["age_group"]=golf_2021["age_group"].astype("int64")
golf_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sex        20000 non-null  int64
 1   age        20000 non-null  int64
 2   golf_out   20000 non-null  int64
 3   golf_in    20000 non-null  int64
 4   age_group  20000 non-null  int64
dtypes: int64(5)
memory usage: 781.4 KB

In [98]:
golf_2021.describe()

                sex           age      golf_out       golf_in     age_group
count  20000.000000  20000.000000  20000.000000  20000.000000  20000.000000
mean       1.502050     49.715650      0.061650      0.055900      2.160000
std        0.500008     16.370449      0.240525      0.229734      0.730429
min        1.000000     18.000000      0.000000      0.000000      0.000000
25%        1.000000     36.000000      0.000000      0.000000      2.000000
50%        2.000000     50.000000      0.000000      0.000000      2.000000
75%        2.000000     63.000000      0.000000      0.000000      3.000000
max        2.000000     79.000000      1.000000      1.000000      3.000000

In [92]:
golf_2022["age_group"] = pd.cut(golf_2022["age"], bins=[0,19, 29, 59, 80], labels=[0, 1, 2,3])
golf_2021["age_group"] = pd.cut(golf_2021["age"], bins=[0,19, 29, 59, 80], labels=[0, 1, 2,3])

In [33]:
print(len(golf_2021))
print(len(golf_2022))

20000
40000

In [119]:
n_2021 = int(930.6*10000/len(golf_2021))
n_2022 = int(922.7*10000/len(golf_2022))

In [120]:
len(golf_2022["golf_in"][(golf_2022["golf_in"]==1 )])*n_2022

496340

In [114]:
len(golf_2021["golf_in"][(golf_2021["golf_out"]==1 )])*n_2021

561015

In [115]:
h_2021 = 5600000/(len(golf_2022["golf_in"][(golf_2022["golf_out"]==1 )])*n_2022)
h_2021

9.230840237232593

In [82]:
h_2022 = 6000000/(len(golf_2022["golf_in"][(golf_2022["golf_out"]==1 )])*n_2022)
h_2022

10.508322591492462

In [144]:
man_2021 = []
for i in range(4):
    l = len(golf_2021["golf_in"][(golf_2021["golf_out"]==1 )& (golf_2021["age_group"]==i)&(golf_2021["sex"]==1)])/len(golf_2021["golf_in"][golf_2021["golf_out"]==1] )
    man_2021.append(l)
man_2021

[0.0032441200324412004,
 0.058394160583941604,
 0.3909164639091646,
 0.38929440389294406]

In [139]:
woman_2021 = []
for i in range(4):
    l = len(golf_2021["golf_in"][(golf_2021["golf_out"]==1 )& (golf_2021["age_group"]==i)&(golf_2021["sex"]==2)])/len(golf_2021["golf_in"][golf_2021["golf_out"]==1] )
    woman_2021.append(l)
woman_2021

[0.0008110300081103001,
 0.0170316301703163,
 0.06001622060016221,
 0.08029197080291971]

In [140]:
woman_2022 = []
for i in range(4):
    l = len(golf_2022["golf_in"][(golf_2022["golf_out"]==1 )& (golf_2022["age_group"]==i)&(golf_2022["sex"]==2)])/len(golf_2022["golf_in"][golf_2022["golf_out"]==1] )
    woman_2022.append(l)
woman_2022

[0.001569242840329541,
 0.01569242840329541,
 0.0584542958022754,
 0.06590819929384072]

In [150]:
man_2022 = []
for i in range(4):
    l = len(golf_2022["golf_in"][(golf_2022["golf_out"]==1 )& (golf_2022["age_group"]==i)&(golf_2022["sex"]==1)])/len(golf_2022["golf_in"][golf_2022["golf_out"]==1] )
    man_2022.append(l)
man_2022

[0.001961553550411926,
 0.07296979207532366,
 0.38524911730090233,
 0.39819537073362105]

In [153]:
golf = pd.DataFrame(man_2021, columns = ["2021_man_out"],index=['18-19', '20-39', '40-59','60-79'])
golf["2021_woman_out"] =woman_2021
golf["2022_man_out"] = man_2022
golf["2022_woman_out"] = woman_2022

In [154]:
golf.head()

       2021_man_out  2021_woman_out  2022_man_out  2022_woman_out
18-19      0.003244        0.000811      0.001962        0.001569
20-39      0.058394        0.017032      0.072970        0.015692
40-59      0.390916        0.060016      0.385249        0.058454
60-79      0.389294        0.080292      0.398195        0.065908

In [155]:
man_2022_in = []
for i in range(4):
    l = len(golf_2022["golf_in"][(golf_2022["golf_in"]==1 )& (golf_2022["age_group"]==i)&(golf_2022["sex"]==1)])/len(golf_2022["golf_in"][golf_2022["golf_in"]==1] )
    man_2022_in.append(l)
man_2022_in

[0.005097312326227989,
 0.09221501390176089,
 0.38785912882298423,
 0.3405931417979611]

In [156]:
man_2021_in = []
for i in range(4):
    l = len(golf_2021["golf_in"][(golf_2021["golf_in"]==1 )& (golf_2021["age_group"]==i)&(golf_2021["sex"]==1)])/len(golf_2021["golf_in"][golf_2021["golf_in"]==1] )
    man_2021_in.append(l)
man_2021_in

[0.008050089445438283,
 0.0885509838998211,
 0.3810375670840787,
 0.3443649373881932]

In [157]:
woman_2021_in = []
for i in range(4):
    l = len(golf_2021["golf_in"][(golf_2021["golf_in"]==1 )& (golf_2021["age_group"]==i)&(golf_2021["sex"]==2)])/len(golf_2021["golf_in"][golf_2021["golf_in"]==1] )
    woman_2021_in.append(l)
woman_2021_in

[0.0026833631484794273,
 0.027728085867620753,
 0.09838998211091235,
 0.049194991055456175]

In [158]:
woman_2022_in = []
for i in range(4):
    l = len(golf_2022["golf_in"][(golf_2022["golf_in"]==1 )& (golf_2022["age_group"]==i)&(golf_2022["sex"]==2)])/len(golf_2022["golf_in"][golf_2022["golf_in"]==1] )
    woman_2022_in.append(l)
woman_2022_in

[0.003243744207599629,
 0.028730305838739572,
 0.08665430954587582,
 0.05560704355885079]

In [159]:
golf["2021_man_in"] =man_2021_in
golf["2021_woman_in"] =woman_2021_in
golf["2022_man_in"] = man_2022_in
golf["2022_woman_in"] = woman_2022_in

In [160]:
golf.head()

,2021_man_out,2021_woman_out,2022_man_out,2022_woman_out,2021_man_in,2021_woman_in,2022_man_in,2022_woman_in
18-19,0.003244,0.000811,0.001962,0.001569,0.008050,0.002683,0.005097,0.003244
20-39,0.058394,0.017032,0.072970,0.015692,0.088551,0.027728,0.092215,0.028730
40-59,0.390916,0.060016,0.385249,0.058454,0.381038,0.098390,0.387859,0.086654
60-79,0.389294,0.080292,0.398195,0.065908,0.344365,0.049195,0.340593,0.055607

In [66]:
int(len(golf_2021["golf_in"][(golf_2021["golf_in"]==1 )& (golf_2021["age_group"]==3)])*n_2021*h_2021)

1998377

In [89]:
len(golf_2022["golf_in"][(golf_2022["golf_in"]==1 )])*n_2022*h_2022

5079639.074146724