In [1]:
import numpy as np
import pandas as pd

In [20]:
miRNA = pd.read_csv('miRNA.csv')
mRNA = pd.read_csv('mRNA.csv')
mRNA["crhomesome"] = mRNA["crhomesome"].astype(str)
display(miRNA.head())
display(mRNA.head())

,ID,chromosome,start,end,strand,gene,seq
0,ENSMUST00020182969.1,Y,20134948,20135057,1,ENSMUSG00002074919.1,GGGCATCTGCTGACATGGGGGCCGAAGTCAGTCGCCAGGCAGCGGG...
1,ENSMUST00020183589.1,Y,991657,991716,-1,ENSMUSG00002076920.1,TCTCATCTGATCTCGGAAGCTAAGCAGGGTCGGGCCTGGTTAGTAC...
2,ENSMUST00020183415.1,Y,2446010,2446108,-1,ENSMUSG00002075837.1,TTAACTTTTACTTTAATAACATATATATGTATGTGTGTGTGTGTGT...
3,ENSMUST00020183034.1,Y,5542752,5542861,1,ENSMUSG00002075850.1,GGGCATCTGCTGACATGGGGGCCGAAGTCAGGCGCCAGGCAGTGGG...
4,ENSMUST00020181908.1,Y,40639526,40639635,1,ENSMUSG00002075449.1,GGGCATCTGCTGACATGGGGGCCGAAGTCAGGCGCCAGGCAGCGGG...

,name,crhomesome,start,end,seq
0,rankl,14,78514285,78546083,TTTTGTACCCTCTACCCATCCCTTTGTCTAGTTCTTCCTGGCTCAC...
1,sost,11,101853284,101857841,ACTGGAGCCTGTGCTACCGAGTGCCCTCCTCCACCTGGCAGCATGC...

In [8]:
mRNA["crhomesome"] = mRNA["crhomesome"].astype(str)

In [19]:
miRNA[miRNA["chromosome"]== mRNA["crhomesome"][1]][miRNA["start"] < mRNA["end"][1]]#[miRNA["end"] < mRNA["end"][1]]

/var/folders/42/922wnzy13c1bxs6j8mf7gwq00000gn/T/ipykernel_61883/4041539749.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  miRNA[miRNA["chromosome"]== mRNA["crhomesome"][1]][miRNA["start"] < mRNA["end"][1]]#[miRNA["end"] < mRNA["end"][1]]

,ID,chromosome,start,end,strand,gene,seq
214,ENSMUST00020182057.1,11,75209314,75209434,-1,ENSMUSG00002076300.1,TTTTCCTAAGGTATTTACTGCTGGTGTTGAAATCTCTTGACTGGGT...
222,ENSMUST00000184148.3,11,97635723,97635861,1,ENSMUSG00000098919.3,GGTACCGCCCGTCCCCGGGCGCTTGCAGCTGCCCCGCCCACTCCTC...
240,ENSMUST00000083595.3,11,75354542,75354636,1,ENSMUSG00000065529.3,ACCTGGCTGAGCCGCAGTAGTTCTTCAGTGGCAAGCTTTATGTCCT...
253,ENSMUST00020182836.1,11,97832497,97832566,-1,ENSMUSG00002076152.1,TGGGGGACTCCTAACAGTGGGAGCAGGGGCTGTCTCTGACTCTGCT...
259,ENSMUST00000197943.4,11,23447749,23447839,-1,ENSMUSG00000106362.4,CAGGGGGACCCGCGCTGGATCGTGGAGGAGCGGGAGGACGGGACCA...
...,...,...,...,...,...,...,...
2128,ENSMUST00000175537.3,11,85651442,85651528,-1,ENSMUSG00000093278.3,AGCGGAGGAGGTAGAGGGTGGTGGAATTTGATGTCATCTCTGCCAC...
2134,ENSMUST00000184154.3,11,6351630,6351693,1,ENSMUSG00000098516.3,AAGTGGAAAGCCAGCCTGAGATGCATTGTGATAATCTGTCTCAGTT...
2135,ENSMUST00000175144.4,11,6422225,6422277,-1,ENSMUSG00000092885.4,AATGTGGAAGTGGTCTGAGGCATATAGAGTATATGCCAAGAACACT...
2144,ENSMUST00000174986.3,11,68881400,68881504,-1,ENSMUSG00000092727.3,GCCATGGTGAGGAAGCCAGGGAGAATGTAGTGTTACCGTGAGCCTG...
2148,ENSMUST00020182282.1,11,69396184,69396261,-1,ENSMUSG00002076081.1,TACAGGTGGTTGTGAGATACTATGTGGTTGCTGAGAATTGAACTCA...