In [2]:
from Bio import TogoWS, SeqIO
# FASTAファイルを読み込む
file_path = "/Users/takumu/VScode/Mus_musculus_db/Mus_musculus.GRCm39.ncrna.fa"
records = list(SeqIO.parse(file_path, "fasta"))

# 各エントリに関する情報を取得する
rna_info = []
for record in records:
    y = []
    x= list(record.description.split(" ")) # エントリの情報をスペースで区切ってリストに格納
    y.append(x[0]) # エントリIDをリストに格納
    y.append(x[2]) 
    y.append(x[3])
    y.append(x[4])
    y.append(str(record.seq))
    rna_info.append(y)

# 先頭5つのエントリに関する情報を表示
for info in rna_info[:5]:
    print(info)

['ENSMUST00000104605.4', 'chromosome:GRCm39:Y:1308273:1308377:-1', 'gene:ENSMUSG00000077793.4', 'gene_biotype:snRNA', 'GGGTTCACTAGGTAGCAAATATACTAAATTTGGAACTATAAAGACAAGATTAGCATGACCCTTGCACAAAATGACATACAAATTAATAAAACATTCCATACTTTT']
['ENSMUST00000122627.3', 'chromosome:GRCm39:16:89248383:89248487:-1', 'gene:ENSMUSG00000084576.3', 'gene_biotype:snRNA', 'GTGCTTGCTTAAGCAGCATGCATATTAAAATTGGATCGCCACAGTAGATTAGCATGGCCTCTGAACAAGGCTGACATACAAGTTTTTGAAAAATTTTATTTTTCT']
['ENSMUST00000157602.3', 'chromosome:GRCm39:18:55312912:55312991:1', 'gene:ENSMUSG00000088227.3', 'gene_biotype:snRNA', 'GTGCTCGCTTCCGCAGCACATATACTAAAATTGGAACAATACAGAGATTAGCATGGCTCCTGTGCAAAGATGACCCGCAA']
['ENSMUST00000083254.3', 'chromosome:GRCm39:16:37800449:37800588:1', 'gene:ENSMUSG00000065188.3', 'gene_biotype:snRNA', 'ATACTTGGCAGGGGAGACACCAATATCAGGAAGAAGGTTTTCCCAGGGTAAGGCTTACCCTGTGCATTTGGGGTGTGCTGACCCCTGAGTAAATTTGACTTCATAATTTGTGGTAGTGAGGAGTACATTTGAGCTCTTTC']
['ENSMUST00020182548.1', 'chromosome:GRCm39:18:20977504:20977649:-1', 'gene:ENSMUSG00002076630.1', 'gene_biotype:snRNA', 'ATACTTAACCTGACAGGGATACACCATGATTAAGAAAGTGATCTTTCCAGGGCAAGACTCTTCCATTGCACTTGGGATTTGCTGACCTAAAATATACTTTCACTAAATGGGAGAAATGCCACTGAAGATTCTGTGATAAAATTTGA']

In [6]:
import gget
gget.info(["ENSMUSG00002076630.1"])

Mon Oct  2 16:17:03 2023 INFO We noticed that you passed a version number with your Ensembl ID.
Please note that gget info will always return information linked to the latest Ensembl ID version (see 'ensembl_id').
Mon Oct  2 16:17:05 2023 WARNING No UniProt entry was found for ID ENSMUSG00002076630.

,ensembl_id,uniprot_id,pdb_id,ncbi_gene_id,species,assembly_name,primary_gene_name,ensembl_gene_name,synonyms,parent_gene,...,transcript_names,transcript_strands,transcript_starts,transcript_ends,all_exons,exon_starts,exon_ends,all_translations,translation_starts,translation_ends
ENSMUSG00002076630,ENSMUSG00002076630.1,NaN,NaN,NaN,mus_musculus,GRCm39,NaN,Gm54372,[],NaN,...,[Gm54372-201],[-1],[20977504],[20977649],NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
result = gget.seq(ens_ids="ENSMUST00000104605.4")
print(result[0])
print(result[1][:60])

Mon Oct  2 15:56:06 2023 INFO We noticed that you may have passed a version number with your Ensembl ID.
Please note that gget seq will return information linked to the latest Ensembl ID version.
Mon Oct  2 15:56:07 2023 INFO Requesting nucleotide sequence of ENSMUST00000104605 from Ensembl.

>ENSMUST00000104605 chromosome:GRCm39:Y:1308273:1308377:-1
GGGTTCACTAGGTAGCAAATATACTAAATTTGGAACTATAAAGACAAGATTAGCATGACC

In [5]:
df = gget.search(searchwords='17 miRNA',species='mus_musculus',andor='and',limit=1)

Mon Oct  2 15:56:17 2023 INFO Fetching results from database: mus_musculus_core_110_39

RuntimeError:
                        The Ensembl server returned the following error:
2003: Can't connect to MySQL server on 'mysql-eg-publicsql.ebi.ac.uk:4157' (60 Operation timed out)

                        Please double-check the spelling/validity of your database.

In [2]:
import pandas as pd

rna_df = pd.DataFrame(rna_info,columns=["ID","describe","gene","biotype","seq"])
miRNA_1 = rna_df[rna_df.columns.values][rna_df["biotype"] == "gene_biotype:miRNA"]
describe = miRNA_1["describe"].values
describe = [x.split(":") for x in describe]
describe = describe[5:]
chromosome = [x[-4] for x in describe]
start = [x[-3] for x in describe]
end = [x[-2] for x in describe]
strand = [x[-1] for x in describe]
id = miRNA_1["ID"].values
id = id[5:]
seq = miRNA_1["seq"].values
seq = seq[5:]
gene = miRNA_1["gene"].values
gene = [x.split(":") for x in gene]
gene= [x[1] for x in gene[5:]]
miRNA = pd.DataFrame(id,columns=["ID"])
miRNA["chromosome"] = chromosome
miRNA["start"] = start
miRNA["end"] = end
miRNA["strand"] = strand
miRNA["gene"] = gene
miRNA["seq"] = seq 
miRNA.to_csv("miRNA.csv",index=False)
miRNA.head(10)

,ID,chromosome,start,end,strand,gene,seq
0,ENSMUST00020182969.1,Y,20134948,20135057,1,ENSMUSG00002074919.1,GGGCATCTGCTGACATGGGGGCCGAAGTCAGTCGCCAGGCAGCGGG...
1,ENSMUST00020183589.1,Y,991657,991716,-1,ENSMUSG00002076920.1,TCTCATCTGATCTCGGAAGCTAAGCAGGGTCGGGCCTGGTTAGTAC...
2,ENSMUST00020183415.1,Y,2446010,2446108,-1,ENSMUSG00002075837.1,TTAACTTTTACTTTAATAACATATATATGTATGTGTGTGTGTGTGT...
3,ENSMUST00020183034.1,Y,5542752,5542861,1,ENSMUSG00002075850.1,GGGCATCTGCTGACATGGGGGCCGAAGTCAGGCGCCAGGCAGTGGG...
4,ENSMUST00020181908.1,Y,40639526,40639635,1,ENSMUSG00002075449.1,GGGCATCTGCTGACATGGGGGCCGAAGTCAGGCGCCAGGCAGCGGG...
5,ENSMUST00020182429.1,Y,40644083,40644192,1,ENSMUSG00002074974.1,GGGCATCTGCTGACATGGGGGCCGAAGTCAGGCGCCAGGCAGCGGG...
6,ENSMUST00020181878.1,18,18232617,18232717,1,ENSMUSG00002076588.1,GAAATGCCTCCATGAGATCCAACTGTAAGGCATTTTCTCAATTAGT...
7,ENSMUST00020182316.1,16,13946430,13946495,-1,ENSMUSG00002076089.1,GACTGGGATGTCACGGAATATGGTGTTTGTGACTTGATTGATATAA...
8,ENSMUST00000093566.3,16,13977490,13977556,1,ENSMUSG00000070074.3,CTCGTCAGGCTCAGTCCCCTCCCGATAAACCTCAAAATAGGGTCTT...
9,ENSMUST00020182722.1,18,56099924,56100013,-1,ENSMUSG00002076978.1,TGTGTGTGTGTGTGTGTGTGTGTGTGTAATAGCTATATATGTACAC...