In [6]:
import pandas as pd
import numpy as np
 
 
dr_p = pd.read_csv("data\doctor_workplace.csv")
hos = pd.read_csv("data\hospital.csv", engine = "python")
mr = pd.read_csv("data\mr.csv")
mrkun = pd.read_csv("data\mrkun.csv")
sales = pd.read_csv("data\sales.csv")
speciality = pd.read_csv("data\specialty.csv")
hos_code = hos_code = pd.read_csv("data\hos_code.csv", encoding="shift_jis")

In [35]:
data = [mrkun,speciality,  hos_code,  sales,  hos,mr,dr_p]

In [22]:
for i in range(len(data)):
    display(data[i].head())

   doctor_id  send_count  read_count
0        1.0          52           0
1        3.0          43           0
2        5.0          51           0
3        6.0          52           0
4       10.0          49           0

   doctor_id specialty
0        0.0         A
1        1.0         C
2        2.0         B
3        3.0         M
4        4.0         A

   コード         診療科
0  A01        一般内科
1  A02         腫瘍科
2  A03        腫瘍内科
3  A04  腫瘍内科（疼痛緩和）
4  A05     血液・腫瘍内科

,hospital_id,201911,201912,202001,202002,202003,202004,202005,202006,202007,...,202107,202108,202109,202110,202111,202112,202201,202202,202203,202204
0,65003,13195,13496,14204,20484,26642,16392,13975,12810,11752,...,12543,12609,12971,15757,14786,15247,16075,27840,37593,20573
1,10192,3474,3623,3972,7068,10104,5050,3859,3284,2763,...,3153,3185,3364,4737,4291,4518,4927,10738,15555,7149
2,15490,2218,2279,2422,3691,4935,2864,2376,2140,1927,...,2086,2100,2173,2736,2569,2663,2832,5233,7223,3750
3,93607,1886,1959,2132,3662,5162,2665,2076,1792,1534,...,1727,1743,1831,2510,2267,2378,2579,5424,7782,3666
4,12727,1415,1466,1585,2638,3672,1952,1546,1350,1173,...,1306,1317,1378,1845,1695,1773,1913,3894,5538,2670

   hospital_id hospital_region_name
0        65003                 中国地方
1        10192                 中国地方
2        15490                 中国地方
3        93607                 中国地方
4        12727                 中国地方

   hospital_id  has_visit
0        65003        0.0
1        10192        0.0
2        15490        0.0
3        93607        0.0
4        12727        0.0

   hospital_id  doctor_id
0      65003.0        0.0
1      65003.0        1.0
2      15490.0        2.0
3      15490.0        3.0
4      15490.0        4.0

In [39]:
for i in range(len(data)):
    print(data[i].info())
    print("")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128043 entries, 0 to 128042
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   doctor_id   128043 non-null  float64
 1   send_count  128043 non-null  int64
 2   read_count  128043 non-null  int64
dtypes: float64(1), int64(2)
memory usage: 2.9 MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514326 entries, 0 to 514325
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   doctor_id  514326 non-null  float64
 1   specialty  514326 non-null  object
dtypes: float64(1), object(1)
memory usage: 7.8+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   コード     289 non-null    object
 1   診療科     289 non-null    object
dtypes: object(2)
memory usage: 4.6+ KB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50372 entries, 0 to 50371
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hospital_id  50372 non-null  int64
 1   201911       50372 non-null  int64
 2   201912       50372 non-null  int64
 3   202001       50372 non-null  int64
 4   202002       50372 non-null  int64
 5   202003       50372 non-null  int64
 6   202004       50372 non-null  int64
 7   202005       50372 non-null  int64
 8   202006       50372 non-null  int64
 9   202007       50372 non-null  int64
 10  202008       50372 non-null  int64
 11  202009       50372 non-null  int64
 12  202010       50372 non-null  int64
 13  202011       50372 non-null  int64
 14  202012       50372 non-null  int64
 15  202101       50372 non-null  int64
 16  202102       50372 non-null  int64
 17  202103       50372 non-null  int64
 18  202104       50372 non-null  int64
 19  202105       50372 non-null  int64
 20  202106       50372 non-null  int64
 21  202107       50372 non-null  int64
 22  202108       50372 non-null  int64
 23  202109       50372 non-null  int64
 24  202110       50372 non-null  int64
 25  202111       50372 non-null  int64
 26  202112       50372 non-null  int64
 27  202201       50372 non-null  int64
 28  202202       50372 non-null  int64
 29  202203       50372 non-null  int64
 30  202204       50372 non-null  int64
dtypes: int64(31)
memory usage: 11.9 MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94793 entries, 0 to 94792
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   hospital_id           94793 non-null  int64
 1   hospital_region_name  94793 non-null  object
 2   region_id             94793 non-null  int64
dtypes: int64(2), object(1)
memory usage: 2.2+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94793 entries, 0 to 94792
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hospital_id  94793 non-null  int64
 1   has_visit    94793 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 1.4 MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514326 entries, 0 to 514325
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   hospital_id  514326 non-null  int64
 1   doctor_id    514326 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 7.8 MB
None

In [26]:
region = hos["hospital_region_name"].unique()
print(region)
hos["region_id"] = [0 for i in range(len(hos))]
hos["region_id"][hos["hospital_region_name"] == region[3]] = 0
hos["region_id"][hos["hospital_region_name"] == region[5]] = 1
hos["region_id"][hos["hospital_region_name"] == region[7]] = 2
hos["region_id"][hos["hospital_region_name"] == region[1]] = 3
hos["region_id"][hos["hospital_region_name"] == region[6]] = 4
hos["region_id"][hos["hospital_region_name"] == region[0]] = 5
hos["region_id"][hos["hospital_region_name"] == region[4]] = 6
hos["region_id"][hos["hospital_region_name"] == region[2]] = 7

['中国地方' '中部地方' '九州地方' '北海道地方' '四国地方' '東北地方' '近畿地方' '関東地方']

In [38]:
dr_p["hospital_id"]= dr_p["hospital_id"].astype("int64")
dr_p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514326 entries, 0 to 514325
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   hospital_id  514326 non-null  int64
 1   doctor_id    514326 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 7.8 MB

In [ ]:
test_shape = test.shape
train_shape = train.shape
 
print(test_shape)
print(train_shape)

In [ ]:
display(train.describe())
display(test.describe())

In [ ]:
def kesson_table(df): 
        null_val = df.isnull().sum()
        percent = 100 * df.isnull().sum()/len(df)
        kesson_table = pd.concat([null_val, percent], axis=1)
        kesson_table_ren_columns = kesson_table.rename(
        columns = {0 : '欠損数', 1 : '%'})
        return kesson_table_ren_columns
 
display(kesson_table(train))
display(kesson_table(test))

In [ ]:
# scikit-learnのインポートをします
from sklearn import tree

In [ ]:
# 「train」の目的変数と説明変数の値を取得
target = train["Outcome"].values
features_one = train[['Pregnancies','Glucose','BloodPressure','Insulin','BMI','DiabetesPedigreeFunction','Age']].values
 
# 決定木の作成
my_tree_one = tree.DecisionTreeClassifier()
result = my_tree_one
my_tree_one = my_tree_one.fit(features_one, target)

 
# 「test」の説明変数の値を取得
test_features = test[['Pregnancies','Glucose','BloodPressure','Insulin','BMI','DiabetesPedigreeFunction','Age']].values
 
# 「test」の説明変数を使って「my_tree_one」のモデルで予測
my_prediction = my_tree_one.predict(test_features)
result.score(features_one,target)

In [ ]:
# 予測データのサイズを確認
display(my_prediction.shape)

#予測データの中身を確認
print(my_prediction)

In [ ]:
# PassengerIdを取得
index = np.array(test["index"]).astype(int)
 
# my_prediction(予測データ）とPassengerIdをデータフレームへ落とし込む
my_solution = pd.DataFrame({'index': index, 'Y': my_prediction})
# my_tree_one.csvとして書き出し
my_solution.to_csv("my_tree_one_v3.csv",header=False,index=False)

In [ ]:
# ライブラリのインポート
## データ加工・可視化系ライブラリ
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(font='IPAexGothic')

%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import category_encoders as ce
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV, learning_curve
from sklearn.metrics import classification_report, roc_curve, auc, precision_recall_curve

In [ ]:
colums=list(train.columns)
#display(train.head())
display(train.describe())

print(colums)
df = train
df0= df[df['Outcome']==0]
df1= df[df['Outcome']==1]
bins = list(range(0,30,5))
print(bins)
s0 = pd.cut(df0['DiabetesPedigreeFunction']*10, bins).value_counts().sort_index()
s1 = pd.cut(df1['DiabetesPedigreeFunction']*10, bins).value_counts().sort_index()
dfx = pd.DataFrame({'Y':s0, 'not_Y':s1})
dfx = dfx.assign( **{'全体': lambda p: p.sum(axis=1)} )
#display(dfx)
from matplotlib.font_manager import FontProperties
fp= FontProperties(fname='ipaexg.ttf', size=12);
t = dfx.apply( lambda p: p/p[-1] , axis=1 )
#display(t)
col = ["Y","not_Y"] 
t[col].plot.barh(stacked=True)
plt.legend(col,prop=fp)
plt.show()

In [ ]:
train.corr().style.background_gradient(axis=None)